* {
    box-sizing:border-box
}

html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(206, 209, 219);
    background-image: url(/images/background/jordan-mcqueen-u9tAl8WR3DI-unsplash.jpg);
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background-size: contain;
    color: white;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    width: 100%;
}

.hero h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}

.body-container {
    padding: 10px;
}

.filter-nav {
    display: flex;
    justify-content: center;    
}

.filter-nav .active {
    background-color: white;
    color: black;
}

.filter-nav a {
    text-decoration: none;
    padding: 9px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin: 4px;
}

.filter-nav a:hover {
    background-color: #09b8aa;
}

section {
    background-image: linear-gradient(rgba(180, 208, 250, 0.9), rgba(214, 141, 175, 0.9));
    width: 80%;
    margin: 0px auto 10px auto;
    padding: 10px;
    border-radius: 20px;
}

.section-header {
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-align: center;
}

.section-header h2 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}



/* House section */
.address {
    font-size: 1rem;
    color: white;
    text-align: center;
}

.address i {
    margin: 10px;
}

.map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-radius: 20px;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}

.house-picture-wrapper {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.house-picture-wrapper img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 55% 50%;
    border-radius: 20px;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.active {
background-color: #717171;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* Activities section */

.animals {
    max-width: 700px;
    margin: 0 auto;
}

.animal-card {
    display: grid;
    grid-template-columns: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.animal-card-photo {
    order: 1;
    grid-row: 1;
    overflow: hidden;
}

.animal-card-photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.animal-card:hover img {
    transform: scale(1.4);
}

.animal-card-text {
    padding: 20px 25px;
}

.animal-card-text h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.animal-card-text small {
    color: rgb(176, 176, 176);
}

.animal-card-text p {
    margin: .8rem 0;
    padding: 0;
    line-height: 1.5;
}

/* Reservations Section */

.reservations {
    max-width: 700px;
    margin: 0 auto;
}

.reservations-card {
    display: grid;
    grid-template-columns: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.reservation-card-photo {
    order: 1;
    grid-row: 1;
    overflow: hidden;
}

.reservation-card-photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.reservation-card:hover img {
    transform: scale(1.4);
}

.reservation-card-text {
    padding: 20px 25px;
}

.reservation-card-text h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.reservation-card-text small {
    color: rgb(176, 176, 176);
}

.reservation-card-text p {
    margin: .8rem 0;
    padding: 0;
    line-height: 1.5;
}

.primary-btn {
    background: linear-gradient(#d147d1, #702acb);
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.primary-btn:hover {
    background: linear-gradient(#e35ea7, #d82eb9);
}

.only-large-screen {
    display: none;
}

/* Top Button */

#TopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: #702acb; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    
    border-radius: 50%; /* Rounded corners */
    font-size: 2rem; /* Increase font size */
    transition: 0.3s;
  }

  #TopBtn:hover {
    color: #09b8aa;
  }

  /* People Cards */

  .people-wrapper {
    max-width: 700px;
    margin: 0 auto;
  }

  .people-card {
    display: grid;
    grid-template-columns: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .people-card-photo {
    order: 0;
    grid-row: 1;
    overflow: hidden;
  }

  .people-card-photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .people-card-travel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    padding: 20px 25px;
    text-align: center;
  }

  .people-card-travel a {
    text-decoration: none;
    font-size: 1.5rem;
  }

  .people-card-travel a i {
    padding: 5px;
    
  }

  .people-card-travel i {
    font-size: 1.5rem;
  }

  .people-card h1 {
    margin: 0;
    margin-top: -60px;
    padding: 11px;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
  }

  .people-card-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  /* Large screen settings */

@media screen and (min-width: 768px) {
    .animal-card {
        grid-template-columns: 200px 1fr;
    }

    .reservations-card {
        grid-template-columns: 200px 1fr;
    }

    .hero h1 {
        font-size: 6rem;
    }

    .only-large-screen {
        display: inline;
    }
}